/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */

* {
  display: block;
  box-sizing: border-box;
}
title {
  display: none;
}

/* fonts */

html, body, button {
  height: 100%;
  font-family: 'PT Sans', sans-serif;
}
h1 {
  font-family: 'Source Serif Pro', serif;
  font-weight: bolder;
  font-size: 3.5rem;
}
h2 {
  font-family: 'Source Serif Pro', serif;
  font-weight: bold;
  font-size: 1.6rem;
}
h3 {
  font-family: 'Source Serif Pro', serif;
  font-size: 1.5rem;
}
h4 {
  font-family: 'PT Sans', sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
}
h5 {
  font-family: 'PT Sans', sans-serif;
  font-size: 2.5rem;
  font-weight: bolder;
}

/* images */

.banner img, .lower-banner img {
  width: 100%;
  height: auto;
}
.highlight-box img {
  width: 20rem;
}
.description .desc-one img {
  width: 30rem;
}
.description .desc-three img {
  width: 20rem;
}

/* buttons */

.navigation button {
  width: 8rem;
  height: 2rem;
  color: #8DBD53;
  background-color: white;
  border: solid 1px #8DBD53;
  border-radius: 5px;
  font-size: 0.9rem;
  font-weight: lighter;
  letter-spacing: 1px;
}
.banner button, .lower-banner button {
  width: 12rem;
  height: 3rem;
  color: white;
  background-color: #8DBD53;
  border: solid 1px #8DBD53;
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: bolder;
  letter-spacing: 3px;
}

/* navigation*/

.navigation {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  padding: 15px 0;
  position: fixed;
  top: 0;
  margin-bottom: 50px;
  background-color: white;
  z-index: 1;
}
.navigation div {
  width: 20%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.navigation a {
  text-decoration: none;
  color: grey;
}
.navigation h2 {
  color: #8DBD53;
}
@media (max-width: 800px) {

}
@media (max-width: 500px) {

}

/* banner */

.banner {
  margin-top: 60px;
}
.banner img {
  filter: brightness(70%);
  z-index: 0;
}
.banner-text {
  color: white;
  position: absolute;
  transform: translate(5%, -150%);
  width: 50%;
}
.banner button {
  margin: 50px 0 0 100px;
}